$blu: skyblue;
$orang: rgb(251, 182, 53);
$purp: rgb(168, 103, 168);
$salm: lightsalmon;

.bg-blu {
    background-color: $blu;
}

.bg-orang {
    background-color: $orang;
}

.bg-purp {
    background-color: $purp;
}

.bg-salm {
    background-color: $salm;
}

.text-blu {
    color: $blu;
}

.text-orang {
    color: $orang;
}

.text-purp {
    color: $purp;
}

.text-salm {
    color: $salm;
}