.site-header {
  padding-top: 0;
  position: fixed;
  width: 100%;
  background-color: $page-color;
}

.header-title {
  display: flex;
  align-items: center;
  vertical-align: middle;
}
.header-title img {
  margin-right: 0.5rem;
}

.site-header a {
  color: $header-color;
  font-size: $h3;
  font-weight: $header-font-weight;
  background-image: none;
}

.site-header .site-title {
  font-size: $h2;
}

.site-nav {
  padding-top: $nav-padding;
  width: 100%;
  align-items: left;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex; 
  justify-content: flex-end;
}

.site-header nav a {
  transition: background-color 0.25s ease;
  font-size: 0.7rem;
  text-shadow: none;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.site-header nav a:not(:last-child) {
  margin-right: -1px; /* Overlap margin to avoid double border */
}

.site-header nav a:last-child {
  margin-right: 2rem;
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active,
.site-header nav a.nav-active:hover,
.site-header nav a.nav-active:focus,
.site-header nav a.nav-active:active {
  background-color:rgb(251, 182, 53);
  text-decoration: none;
}

.site-header nav a.nav-active {
  background-color:rgb(251, 182, 53);
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  opacity: 0.88;
}

.site-header {
  text-align: center;
}

.site-header .site-nav {
  text-align: center;
}
